<a href="https://www.kaggle.com/code/nadaaglan/sf-salaries-exercise?scriptVersionId=180246081" target="_blank"><img align="left" alt="Kaggle" title="Open in Kaggle" src="https://kaggle.com/static/images/open-in-kaggle.svg"></a>

___

<a href='http://www.pieriandata.com'> <img src='../../Pierian_Data_Logo.png' /></a>
___

# SF Salaries Exercise

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

** Import pandas as pd.**

In [2]:
import pandas as pd
import numpy as np

** Read Salaries.csv as a dataframe called sal.**

In [3]:
sal = pd.read_csv("/kaggle/input/sf-salaries/Salaries.csv")

/tmp/ipykernel_34/3553221197.py:1: DtypeWarning: Columns (3,4,5,6,12) have mixed types. Specify dtype option on import or set low_memory=False.
  sal = pd.read_csv("/kaggle/input/sf-salaries/Salaries.csv")

** Check the head of the DataFrame. **

In [4]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.0,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.6,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.0,56120.71,198306.9,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.6,9737.0,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

** Use the .info() method to find out how many entries there are.**

In [5]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Id                148654 non-null  int64
 1   EmployeeName      148654 non-null  object
 2   JobTitle          148654 non-null  object
 3   BasePay           148049 non-null  object
 4   OvertimePay       148654 non-null  object
 5   OtherPay          148654 non-null  object
 6   Benefits          112495 non-null  object
 7   TotalPay          148654 non-null  float64
 8   TotalPayBenefits  148654 non-null  float64
 9   Year              148654 non-null  int64
 10  Notes             0 non-null       float64
 11  Agency            148654 non-null  object
 12  Status            38119 non-null   object
dtypes: float64(3), int64(2), object(8)
memory usage: 14.7+ MB

**What is the average BasePay ?**

In [6]:
sal['BasePay'] = pd.to_numeric(sal['BasePay'], errors='coerce')
sal["BasePay"].mean()

66325.4488404877

** What is the highest amount of OvertimePay in the dataset ? **

In [7]:
sal['OvertimePay'] = pd.to_numeric(sal['OvertimePay'], errors='coerce')
sal["OvertimePay"].max()

245131.88

** What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll). **

In [10]:
employee_info = sal[sal['EmployeeName'].str.upper() == 'JOSEPH DRISCOLL']

employee_info = employee_info[employee_info['EmployeeName'] == 'JOSEPH DRISCOLL']

employee_info["JobTitle"]

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

** How much does JOSEPH DRISCOLL make (including benefits)? **

In [11]:
employee_info["Benefits"]

24    NaN
Name: Benefits, dtype: object

** What is the name of highest paid person (including benefits)?**

In [13]:
highest_paid_index = sal['TotalPayBenefits'].idxmax()

highest_paid_name = sal.loc[highest_paid_index, 'EmployeeName']
highest_paid_name

'NATHANIEL FORD'

** What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [15]:
lowest_paid_index = sal['TotalPayBenefits'].idxmin()

lowest_paid_index = sal.loc[highest_paid_index, 'EmployeeName']

lowest_paid_index

'NATHANIEL FORD'

** What was the average (mean) BasePay of all employees per year? (2011-2014) ? **

In [16]:
sal_filtered = sal[(sal['Year'] >= 2011) & (sal['Year'] <= 2014)]

average_basepay_per_year = sal_filtered.groupby('Year')['BasePay'].mean()

average_basepay_per_year

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

** How many unique job titles are there? **

In [17]:
sal["JobTitle"].nunique()

2159

** What are the top 5 most common jobs? **

In [19]:
top_5_job_titles = sal['JobTitle'].value_counts().nlargest(5)
top_5_job_titles

JobTitle
Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Name: count, dtype: int64

** How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?) **

In [20]:
sal_2013 = sal[sal['Year'] == 2013]

job_title_counts = sal_2013['JobTitle'].value_counts()

job_titles_one_person = (job_title_counts == 1).sum()

job_titles_one_person

202

** How many people have the word Chief in their job title? (This is pretty tricky) **

In [21]:
chief_mask = sal['JobTitle'].str.contains('Chief')

number_of_chiefs = chief_mask.sum()
number_of_chiefs

423

** Bonus: Is there a correlation between length of the Job Title string and Salary? **

In [22]:
sal['JobTitleLength'] = sal['JobTitle'].apply(len)

correlation = sal['JobTitleLength'].corr(sal['TotalPayBenefits'])

correlation

-0.036878445932606675

# Great Job!